<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Map View</title>
</head>
<body>

<div id="map-data-row" class="row">

    <!-- Left column -->
    <div id="left-map-data" class="col-md-4">
        <div id="age-div" class="subdata"></div>
        <!--<div id="gender-div" class="subdata"></div>-->
        <div id="education-div" class="subdata container-fluid">
            <div class="panel panel-default panel-transparent">
                <div class="panel-heading">
                    <h3 class="panel-title text-center" id="panel-title-ed"></h3>
                </div>
                <div class="panel-body text-center" id="panel-body-ed"></div>
            </div>
        </div>
        <div id="income-div" class="subdata container-fluid">
            <div class="panel panel-default panel-transparent">
                <div class="panel-heading">
                    <h3 class="panel-title text-center" id="panel-title-income"></h3>
                </div>
                <div class="panel-body text-center" id="panel-body-income"></div>
            </div>
        </div>
    </div>

    <!-- Middle column -->
    <div id="middle-map-data" class="col-md-4">
        <div id="map"></div>
    </div>

    <!-- Right column -->
    <div id="right-map-data" class="col-md-4">
        <div id="race-div" class="subdata"></div>
        <div id="homevalue-div" class="subdata container-fluid">
            <div class="panel panel-default panel-transparent">
                <div class="panel-heading">
                    <h3 class="panel-title text-center" id="panel-title-home"></h3>
                </div>
                <div class="panel-body text-center" id="panel-body-home"></div>
            </div>
        </div>
    </div>

</div>

<script src="js/jquery-1.11.2.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.js"></script>
<script src="http://d3js.org/topojson.v1.min.js"></script>
<script src="js/d3-tip.js"></script>
<script src="js/mapview.render.js"></script>
</body>
</html>