<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Alegreya+Sans' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/mapView/mapRender.css" type="text/css">
    <title>Map View Dashboard</title>
    <link rel="stylesheet" type="text/css" href="css/sidebar.css">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
</head>

<body>
<div id="map-section" class="container-fluid">
    <div class = "row">
        <div class = "col-xs-8">
            <div id="map-wrap">
                <div id="legend" style="border-radius: 10px 10px 0px 0px">
                    <h6 style="margin-top: 0px; margin-bottom: 3px">Anxiety Rate (Low to High)</h6>
                    <div class="iconColor" id="color1"></div>
                    <div class="iconColor" id="color2"></div>
                    <div class="iconColor" id="color3"></div>
                    <div class="iconColor" id="color4"></div>
                </div>
                <div id="mapDiv" style="position: fixed; height: 100%; width: 95%; padding-left: 50px;">
                    <div id="map">
                    </div>
                </div>
            </div>
        </div>
        <!-- <div id="helpModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <h5></h5>
                    </div>
                </div>
            </div>
        </div> -->
        <div class = "col-xs-3">
            <div class="description" style="text-align: center;">
                <h3 class="desTitle">Hover your mouse on the map!</h3>
                <h2 class="cityName"></h2>
            </div>
            <div class = "data shift">
                <div class="row">
                    <hr align="right">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 data">
                        <p class="data1-details" style="display: none;">The Anxiety Rate in this area is:</p>
                        <h3 class="data1" style="text-align: center"></h3>
                    </div>
                </div>

                <div class="row" style="text-align: center;">
                    <hr align="right">
                    <div id="raceDountTitle">
                        <h3>Anxiety Rate by Race</h3>
                    </div>
                </div>
            </div>
                    <div id="raceDonutDiv" style="display: inline-block;">

                    </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
    </div>
    <nav class='sidebar sidebar-menu-collapsed'>
        <a href='#' id='justify-icon'>
        <span class='fa fa-align-justify'></span>
        </a>
        <ul>
            <li class='active'>
                <a class='expandable' href='#' title='Dashboard'>
                <span class='fa fa-home collapsed-element'></span>
                <span class='expanded-element'>Dashboard</span>
                </a>
            </li>
            <li>
                <a class='expandable' href='#' title='Chat'>
                    <i class="fa fa-comments collapsed-element"></i>
                    <span class='expanded-element'>Chat</span>
                </a>
            </li>
            <li>
                <a class='expandable' href='#' title='Settings'>
                <span class='fa fa-cog collapsed-element'></span>
                <span class='expanded-element'>Settings</span>
                </a>
            </li>
            <li>
                <a class='expandable' href='#' title='Account'>
                <span class='fa fa-user collapsed-element'></span>
                <span class='expanded-element'>Account</span>
                </a>
            </li>
        </ul>
        <a href='#' id='logout-icon' title='Logout'>
        <span class='fa fa-power-off'></span>
        </a>
    </nav>
</div>

<script type="text/javascript" src="js/jquery-2.2.3.min.js"></script>
<script type="text/javascript" src="js/sidebar.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3-legend/1.10.0/d3-legend.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCd5IPTkpwiaQo0ZJb6NXyFqXI6cetPDe4"></script>
<script src="js/mapview/mapRender.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>