/*this first one hides the divs initially
until the script determines if user is signed

look at js/dashboard.js for script*/
.twitter-chatfeed, .twitter-entermsg, .twitter-signin-div,
#logout-btn {
    display: none;
}

#chat-outer{
    height: 320px;
}

.twitter-chatfeed {
    width: 100%;
    height: 60%;
}

.user-image {
    height: 30px;
    width: 30px;
    margin-right: 5px;
    float: left;
}

#user-image {
    height: 30px;
    width: 30px;
    margin-top: 5px;
}

#posted {
    font-size: 75%;
}

#twitter-signin {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    background-color: #0a568c; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin: 0 auto;
}

#twitter-signin:hover {
    background-color: #00A8FF;
    color: white;
}

.twitter-entermsg {
    margin-top: 5px;
}

#user_input {
    width: 75%;
    height: 50px;
    resize: none;
    line-height: 1;
    margin: 0;
    display: block;
    float: left;
}

#send-msg-btn {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    background-color: #0a568c; /* Green */
    border: none;
    color: white;
    padding: 15px 10px;
    text-align: center;
    text-decoration: none;
    display: block;
    float: left;
    margin-left: 10px;
}

#hold-chat {
    top:0;
    bottom:3em;
    height:100%;
    overflow:scroll;
}

#signout-btn {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    background-color: #0a568c; /* Green */
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: block;
    float: right;
    margin-left: 10px;
}